.contact-form {
  padding: 2em;
  width: 100%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 4em;
  max-width: 70%;
}

.contact-form form input {
  flex: 1;
  padding: 1em 1.5em;
  border-radius: 8px;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}

.contact-form form div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.contact-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #766df4;
  color: white;
  border-radius: 5px;
  padding: 1em 1.5em;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 3em;
}

.cancel__btn {
  background-color: white;
  color: #766df4;
  border: 0.5px solid #766df4;
  cursor: pointer;
  margin-top: 0;
}

.purple-input {
  background-color: #766df4;
  color: wheat;
}
