.sidebar {
  width: 30%;
  padding: 1em;
  background-color: #ddd;
}

.sidebar-heading {
  font-size: 1.2rem;
  font-weight: 500;
}

.sidebar-list {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sidebar-list__item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
