* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  height: 100vh;
}

.app-component {
  width: 70%;
  height: 100vh;
  margin-inline: auto;
  display: flex;
}
